body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p {
    margin: 0;
}

div.top-container {
    background-color: #ffefa0;
    position: relative;
}

h1 {
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; 
    color: #ff9642;
    /* 16px = 1em = 1rem = 100% */
}

.subtitle {
    font-size: 1.5rem;
    color: #ff9642;
    font-weight: normal;
}

h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
    color: #ff9642;
}

h3 {
    color: #f6830f;
}

hr {
    border-style: none;
    width: 10%;
    border-top: 5px dotted gray;
}

p .pro {
    text-decoration: underline;
}

.cloud-top {
    width: 15%;
}

.sun {
    width: 15%;
    position: absolute;
    right: 30px;
    top: 20px;
}

.cloud-bottom-left {
    width: 15%;
    position: absolute;
    bottom: 360px;
}

.tree-left {
    width: 20%;
}

.house {
    width: 35%;
}

.cloud-bottom-right {
    width: 15%;
    position: absolute;
    bottom: 360px;
}

.tree-right {
    width: 20%;
}

a {
    color: #f6830f;
}

.bottom-container {
    background-color: #ffefa0;
}

.interest-row {
    width: 50%;
    margin: 50px auto;
    background-color: #ffefa0;
    padding: 25px;
    border-radius: 25px;
}

.interest-description-programming {
    text-align: left;
}

.interest-description-web {
    text-align: right;
}

.interest-description-read {
    text-align: left;
}

#interests .interest-row p {
    line-height: 2;
}

#interests .interest-row img {
    width: 25%;
} 

.programming {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

.webdev {
    float: right;
    margin-top: 20px;
    margin-left: 20px;
}

.read {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}