body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p {
    margin: 0;
}

header {
    background-color: #ffefa0;
    font-size: 18px;
    width: 100%;
    min-height: 50px;
    position: fixed;
    z-index: 3;
}

header nav ul a {
    text-decoration: none;
    color: #f6830f;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 40px;
}

div.top-container {
    background-color: #ffefa0;
    position: relative;
    padding-top: 60px;
}

h1 {
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; 
    color: #ff9642;
    /* 16px = 1em = 1rem = 100% */
}

.subtitle {
    font-size: 1.5rem;
    color: #ff9642;
    font-weight: normal;
}

h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
    color: #ff9642;
}

h3 {
    color: #f6830f;
}

hr {
    border-style: none;
    width: 10%;
    border-top: 5px dotted gray;
}

.profile-pic {
    border-radius: 50%;
}

#about {
    width: 30%;
    line-height: 2;
    margin: auto;
    padding: 50px;
}

.hi {
    font-size: 25px;
}

p .pro {
    text-decoration: underline;
}

.cloud-top {
    width: 10%;
}

.sun {
    width: 10%;
    position: absolute;
    right: 30px;
    top: 50px;
}

.cloud-bottom-left {
    width: 10%;
    position: absolute;
    bottom: 400px;
    left: 130px;
}

.tree-left {
    width: 15%;
}

.house {
    width: 30%;
}

.cloud-bottom-right {
    width: 10%;
    position: absolute;
    bottom: 400px;
    right: 120px;
}

.tree-right {
    width: 15%;
}

#interests {
    padding: 50px 0;
}

.interest-row {
    width: 50%;
    margin: 50px auto;
    background-color: #ffefa0;
    padding: 25px;
    border-radius: 25px;
    box-shadow: #f6830f 2px 2--px 2px 2px, 2px 2px 2px 2px;
}

.interest-description-programming {
    text-align: left;
}

.interest-description-web {
    text-align: right;
}

.interest-description-read {
    text-align: left;
}

#interests .interest-row p {
    line-height: 2;
}

#interests .interest-row img {
    width: 25%;
} 

.programming {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

.webdev {
    float: right;
    margin-top: 20px;
    margin-left: 20px;
}

.read {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

#contact {
    padding: 50px 0;
    width: 30%;
    margin: auto;
    line-height: 2;
}

.btn {
    margin: 30px auto;
    padding: 20px;
    background-color: #ff9642;
    border-radius: 25px;
    border: none;
    font-size: 20px;
}

.btn:hover {
    color: #fff;
    cursor: pointer;
}

.bottom-container {
    background-color: #ffefa0;
    padding: 30px 0;
    width: 100%;
}

.credit {
    padding-top: 20px;
    font-size: 12px;
}

.footer-link {
    color: #f6830f;
    text-decoration: none;
    margin: auto 20px;
}

.footer-link:hover {
    color: #000;
}

@media(max-width:560px) {
    h1 {
        font-size: 3rem;        
    }
    
    div.top-container {
        padding-top: 100px;        
    }
    
    .subtitle {
        font-size: 15px;
        padding-bottom: 20px;
    }
    
    .sun {
        position: relative;
        left: 136px;
        top: 10px;
    }

    .cloud-bottom-left {
        position: relative;
        top: -110px;
        left: 10px;
    }

    .cloud-bottom-right {
        position: relative;
        top: -160px;
        left: 60px;
    }

    #about {
        width: 65%;
    }

    .interest-row {
        width: 75%;
    }

    #contact {
        width: 65%;
    }

    header {
        border-bottom:2px solid #f6830f;
    }

    header nav ul li {
        display: block;
    }
}

